---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
<body>
  <a href="/">ホーム</a>
  <a href="/about/">概要</a>
  <a href="/blog/">ブログ</a>

  <h1>私のAstroサイト</h1>
  <h1>私のAstro学習ブログ</h1>
  <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
  <ul>
    <li><a href="/posts/posts1/">記事1</a></li>
  </ul>
</body>
</Layout>
